<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">

        <title>Handwritting Recognition</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo"><h1></h1></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="/" class="nav__link">Logout</a></li>
                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        <!--========== HEADER ENDS ==========-->

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">Welcome!<br></h1>
                        <p>Handwritten Text Recognition (HTR) system implemented with TensorFlow (TF) and trained on the IAM off-line HTR dataset. The model takes images of single words or text lines (multiple words) as input and outputs the recognized text. 3/4 of the words from the validation-set are correctly recognized, and the character error rate is around 10%.

                        </p>
                        <br>
                        <a href="/recognition" class="button">Start</a>
                    </div>
                    
                    <img src="{{url_for('static', filename='styles/img/logo.png')}}" alt = "" class="home__img">
                </div>
            </section>

            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">About us</span>
                        <h2 class="section-title about__initial">Handwritting Recognition</h2>
                        <p class="about__description">Handwritten Text Recognition (HTR) system implemented with TensorFlow (TF) and trained on the IAM off-line HTR dataset. The model takes images of single words or text lines (multiple words) as input and outputs the recognized text. 3/4 of the words from the validation-set are correctly recognized, and the character error rate is around 10%.

                        </p>
    
                    </div>

                    <img src="static/styles/img/logo.png" alt="" class="about__img">
                </div>
            </section>

            
            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <div style="display: flex;justify-content: space-around;">
                            <div style="width: 50%;">
                                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                                <p><a href="#" class="footer__social"><i class='bx bx-envelope'></i></a>&nbsp;&nbsp;&nbsp;example@gmail.com</p>
                                <p><a href="#" class="footer__social"><i class='bx bx-phone'></i></a>&nbsp;&nbsp;&nbsp;+919876543210</p>
                            </div>
    
                            <!-- <div style="width: 50%;">
                                <iframe src="https://www.google.com/maps?sca_esv=4b84ee5ad3d7222f&rlz=1C1UEAD_enIN1061IN1061&output=search&q=nitte+bangalore&source=lnms&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWd8nbOJfsBGGB5IQQO6L3J3ppPdoHI1O-XvbXbpNjYYxy9nF8_reHIdIO9ZF-Un9ci1-LWsJ8u77b8cWxASa3pFiyhPNiKaWzk1D1EuqM65L0P-s4UqyVnFNPCENlcb9d8imfGlpDOYD3ZJkbNJADhtj5UXIaTZQd9Tl9L-XGLXtFqA6lxGNqjf-5QQh6yj0j_iXpPQ&entry=mc&ved=1t:200715&ictx=111" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div> -->
                        </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="static/styles/js/main.js"></script>
    </body>
</html>
