<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">
        <style>
            input{
                width: 100%;
                padding: 10px;
                border: 1px solid #ddd;
                margin: 10px 0;
            }
        </style>
        <title>Handwriting Recognition</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo"><h1>Handwriting Recognition</h1></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="/" class="nav__link">Logout</a></li>
                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        <!--========== HEADER ENDS ==========-->

        <main class="l-main">

            <!--========== SERVICES ==========-->
            <section class="services section bd-container" id="services">
                <center><span class="services__title">Upload</span></center>
                
                <div class="services__container  bd-grid">
                    <div class="services__content">
                        <h3 class="section-subtitle" >Upload Image</h3>
                        <hr>
                        <form method = "POST" style="text-align: left;" action="/recognition" class="sign-in-form">
                            <label for="">Handwritten image</label><br>
                            <input type="file" name="image" required /><br>
                            <center><input type="submit" value="Recognise" style="width: 50%;" class="button" /></center>
                          </form>
                    </div>

                    <div class="services__content">
                        <h3 class="section-subtitle" >Input Image</h3>
                        <hr>
                        <img src="{{image}}" style="width: 100%;">
                    </div>

                    <div class="services__content">
                        <h3 class="section-subtitle" >Recognised Text</h3>
                        <hr>
                        <p>{{result}}</p>
                    </div>
                </div>
            </section>
            <!--========== SERVICES ENDS ==========-->
            
        </main>

        <!--========== FOOTER ==========-->

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="static/styles/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function GetOTP(){
                $.ajax({
                    method:"get",
                    url:"/getotp",
                    success:function(res){
                        document.getElementById('res').innerHTML = res;
                    }
                });
            }
        </script>
    </body>
</html>
